{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Add an event here</h1>
<form action="event-form" method="POST" enctype="multipart/form-data">  
    {% csrf_token %}  
<div class="container">  
<br>  
<div class="form-group row">  
<label class="col-sm-1 col-form-label"></label>  
<div class="col-sm-4">  
<h3>Enter new event Details</h3>  
</div>  
</div>    
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Employee Title:</label>  
<div class="col-sm-4">  
  {{ form.title }}  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Employee Description:</label>  
<div class="col-sm-4">  
  {{ form.description }}  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Employee Image:</label>  
<div class="col-sm-4">  
  {{ form.event_image }}  
</div>  
</div>
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Employee price:</label>  
<div class="col-sm-4">  
  {{ form.ticket_price }}  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Available Tickets:</label>  
<div class="col-sm-4">  
  {{ form.available_tickets }}  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Category:</label>  
<div class="col-sm-4">  
  {{ form.category }}  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Stadium:</label>  
<div class="col-sm-4">  
  {{ form.staduim }}  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Date & Time :</label>  
<div class="col-sm-4">  
  {{ form.event_date_time }}  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-1 col-form-label"></label>  
<div class="col-sm-4">  
<button type="submit" class="btn btn-primary">Add Event</button>  
</div>  
</div>  
</div>  
</form> 
<!-- <div style="padding-top: 30px;">
    <a href="show">See the qr codes here</a>
</div> -->


{% endblock %}
 
 
 
<a href="{% url 'show' %}"> See Employees</a>