<h2>Company sign-up form</h2>
{% for message in messages %}
<h3 class="logo">{{ message }}</h3>
{% endfor %}
<form role="form text-left" action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Username" required name="username" aria-label="Name" aria-describedby="email-addon">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" placeholder="Email" required name="email" aria-label="Email" aria-describedby="email-addon">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" placeholder="Password" required name="password" aria-label="Password" aria-describedby="password-addon">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" placeholder="Confirm Password" required name="password2" aria-label="Confirm Password" aria-describedby="password2-addon">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Contact" required name="contact" aria-label="Contact" aria-describedby="contact-addon">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Location" required name="location" aria-label="Location" aria-describedby="location-addon">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Id number" required name="id_number" aria-label="Id number" aria-describedby="Id_number-addon">
    </div>
    <div class="text-center">
      <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign up</button>
    </div>
    <p class="text-sm mt-3 mb-0">Already have an account? 
      <a href="sign-in" class="text-dark font-weight-bolder">Sign in</a>
    </p>
  </form>